div.scroll {

 COLOR: #333399;
 font-weight: bold; 
 font : 9;
 text-decoration: none;
 
 }

 a:hover {
 COLOR: #cc0033;
 font-weight: bold; 
 font : 9;
 text-decoration: none;
 
 }

body {
 COLOR: #000000; 
 FONT-FAMILY: Verdana,Arial,Tahoma,Helvetica,sans-serif; 
 FONT-SIZE: 11px; 
 MARGIN: 0px;
 scrollbar-face-color: #F8F8F8;
 scrollbar-highlight-color: #A5A5A5;
 scrollbar-3d-light-color: #E5E5E5;
 scrollbar-shadow-color: #E5E5E5;
 scrollbar-dark-shadow-color: #036;
 SCROLLBAR-BASE-COLOR: #E5E5E5;
 SCROLLBAR-ARROW-COLOR: #888888;
}


.tableBody {
	BORDER-BOTTOM: #e1e1e1 0px solid; BORDER-LEFT: #e1e1e1 0px solid; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-TOP: #e1e1e1 0px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px;
	FONT-SIZE: 10px;
}
.tableBodyRight {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px;
	FONT-SIZE: 10px;

}
.tableDivider {
	BACKGROUND: #e1e1e1; HEIGHT: 1px
}
.tableDividerDark {
	BACKGROUND: #7f99cc;
	HEIGHT: 2px;
}
.white_link {
	font-size: 10px;
	font-weight: bolder;	
	color: #FFFFFF;
}

.liens {
	font-size: 10px;
	font-weight: bolder;
	color: #cc0033;
}

.form_head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #666666;
	width: auto;
}
.form_enter {
	background-color: #F3F4F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
	border: 1px solid #C1C1C1;
}
.infoBox {
  background: whitesmoke;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}
.infoBoxHeading {
  background: Blue;
}


.infoBoxContents {
  background: #f8f8f9;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.infoBoxNotice {
  background: #FF8E90;
}

.infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.infoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: #bbc3d3;
  color: #ffffff;
}

TD.infoBox, SPAN.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}
TD.main, P.main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

TD.formAreaTitle {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
SPAN.errorText {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}
.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }
.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }
.divleft {
	overflow: auto;
	position: absolute;
	z-index: 0;
	height: auto;
	width: 175px;
	left: 2px;
	top: 35px;
}

.divright {
	overflow: auto;
	position: absolute;
	z-index: 0;
	height: auto;
	width: 825px;
	left: 180px;
	top: 35px;
}





