div.menu {
	font-family: verdana, arial, sans-serif;
}
div.menu div a {
	display: block;
	font-size: 11px;
	padding: 2px 10px;
	text-decoration: none;
	background: #EDF2F2;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	border-right: 1px solid #ddd;

}

div.menu ul li{
	padding: 0;
}

div.menu ul li a {
	padding: 0px 18px 0px 20px;
	font-size: 10px;
	margin: 0;
	border: none;
	color: #808080;
/* 	height : 11px; */
}

div.menu div ul {
	display: none;
	position: static;
	padding: 0;
	margin: 0;
	border: 0;
}

input.menu {
	background-color: #676D67;
	background-image: url(/img/input.gif);
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	border-style: ridge;
	border-color: #E4EAFA;
	border-width: 0;
	color: #ccc;
	margin: 0px;
	padding: 0px;
} 
