table.actlist {
	width: 95%;
	border-bottom: #ffab12 0px solid; 
	border-left: #e1e1e1 0px solid; 
	border-right: #e1e1e1 1px solid; 
	border-top: #e1e1e1 0px solid; 
	padding-bottom: 4px; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-top: 4px;	
	font-size: 10px;
}
.actlist thead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #9a9a9a;
}
.actlist thead a{
	color: #FFFFFF;
}
.actlist thead a:hover{
	color: #FFFFFF;
}

table.actlist tbody tr{
	background-color: #F2F2F2;
}

table.actlist tbody .odd{
	background-color: #E0E0E0;
}

table.actlist tbody tr:hover {
	background-color: #FFDEA6;
}

table.actlist tbody a {
	color: #000080;
}
