table.sumlist {
	width: 95%;
	border-bottom: #ffab12 0px solid; 
	border-left: #e1e1e1 0px solid; 
	border-right: #e1e1e1 1px solid; 
	border-top: #e1e1e1 0px solid; 
	padding-bottom: 2em;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2em;
	font-size: 10px;
}
.sumlist thead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #7a7a7a;
}
.sumlist thead td {
	text-align: center;
}

.sumlist thead a{
	color: #FFFFFF;
}
.sumlist thead a:hover{
	color: #FFFFFF;
}

table.sumlist tbody tr{
	background-color: #F2F2F2;
}

table.sumlist tbody tr.sumtitle  td{
	background-color: #5a5a5a;
	color: white;
	font-weight: bold;
	text-align: left;
	padding-left: 2em;
	padding-right: 2em;
}
/* some tables may even use the cclist style there */

table.cclist tbody tr.sum td {
	background-color: #5a5a5a;
	color: white;
	font-weight: bold;
	text-align: right;
	padding-left: 2em;
	padding-right: 2em;
}

table.sumlist tbody .odd{
	background-color: #E0E0E0;
}

table.sumlist tbody tr:hover {
	background-color: #FFDEA6;
}
