
div.scroll {
	height: 200px;
	width: 300px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #ddd;
	padding: 5px;
}

div.scrollreal{
	position:relative;
	top:16;
	height: 250px;	
	overflow: auto;
	border: 1px solid #666;
	background-color: #ddd;
	/*padding: 8px;*/
	margin: 12px 12px;

}

.heads {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #FFA70F;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 2px;
}
.head_table_management {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #BFCCD2;
	color: #606060;
}
p { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-size: 10px; 
 /*line-height: 20px;*/
 margin: 10px 0px;
 color: #444;
 }

h1 { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-weight: bold;
 font-size: 22px; 	 
 line-height: 26px;
 margin: 8px 10px;
 color: #565C56;
 }

h2 { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-weight: bold;
 font-size: 20px; 	 
 line-height: 24px;
 margin: 8px 10px;
 color: #565C56;
 }

h3 { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-weight: bold;
 font-size: 18px; 	 
 line-height: 22px;
 margin: 8px 10px;
 color: #565C56;
 }

h4 { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-weight: bold;
 font-size: 15px; 	 
 line-height: 20px;
 margin: 8px 10px;
 color: #565C56;
 }
 
h5 { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-weight: bold;
 font-size: 12px; 	 
 line-height: 18px;
 margin: 8px 10px;
 color: #565C56;
 }

ul,ol { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-size: 12px; 
 line-height: 20px;
 padding-left: 20px;
 color: #565C56;
 padding-top: 5px;
 }


li { 
 font-family: geneva, verdana, arial, sans-serif; 
 font-size: 12px; 
 line-height: 20px;
 padding-left: 0px;
 color: #565C56;
 padding-top: 5px;
 }


input, textarea {
 background-color: #fff;
 font-family: verdana, arial, sans-serif;
 font-size: 12px;
 color: #565C56;
 border-style: solid;
 border-color: #333;
 border-width: 0;
 margin: 0px;
 padding: 0px; 
} 

input.button {
 background-color: #fff;
 font-family: verdana, arial, sans-serif;
 font-size: 12px;
 color: #565C56;
 border-style: solid;
 border-color: #333;
 border-width: 0;
 margin: 0px;
 padding: 0px; 
}

a:link {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:visited {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:active {
   	font-family: Arial,Verdana;
	color: #3399FF;
	text-decoration: none;
}

a:hover {
   	font-family: Arial,Verdana;
	color: #55AAFF;
	text-decoration: underline;
}

body {
	color: #000000; 
	font-family: Verdana,Arial,Tahoma,Helvetica,sans-serif; 
	font-size: 9px; 
	margin: 0px;
	/* background: #fff url("../images/body_back.png") repeat-x; */
	background: #fff url("images/bg5.jpg") repeat-x;
	background-attachment: fixed;
/*	scrollbar-face-color: #F8F8F8;
	scrollbar-highlight-color: #A5A5A5;
	scrollbar-3d-light-color: #E5E5E5;
	scrollbar-shadow-color: #E5E5E5;
	scrollbar-dark-shadow-color: #036;
	SCROLLBAR-BASE-COLOR: #E5E5E5;
	SCROLLBAR-ARROW-COLOR: #888888;*/
}

table {
	font-family: Arial,Verdana;
}

/*a:link { color: #039; }
a:visited { color: #609; }
a:hover { color: #333; }
a:active { color: #000; }*/

img {
	border: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1em 1em;
}
