table.FormRR2t1 {
	border: thin solid black;
	color: blue;
	width: 300;
	font: Arial, Verdana;
}

table.FormRR2t1 thead td{
	background: gray;
	color: white;
	font-weight: bold;
	font-size: 90%;
}

table.FormRRt1 {
	border: thin solid black;
	color: #000080;
	width: 300;
	font-family: Arial, Verdana;
}

table.FormRRt1 thead td{
	background: gray;
	color: white;
	font-weight: bold;
	font-size: 90%;
}
