table.actionForm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	width: 50%;
	text-align: center;
}
table.actionForm thead {
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #7a7a7a;
}
table.actionForm thead .field {
	width: 25%;
}
table.actionForm thead .value {
	width: 75%;
}

table.actionForm tbody .field {
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #9a9a9a;
}
table.actionForm div.descr {
	font-size: 9px;
	font-weight: normal;
}

table.actionForm tbody .value {
	text-align: left;
}

table.actionForm tbody .value input {
	color: orange;
	border: thin solid gray;
}
